// app global css in SCSS form
@font-face {
    font-family: 'Bungee';
    src: url('./fonts/ProtestRiot-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
*{
    font-family: 'Bungee', sans-serif;
}
.font-arial{
    font-family: Arial, sans-serif;
}
